@{
    ViewData["Title"] = "The Nuel Tournament Ranks";
}

<div class="text-center">
    <h1 class="display-4"><a href="https://thenuel.com/">The Nuel</a> Tournament Ranks</h1>
    <br/>
    <div class="row">
        <div class="col-auto mx-auto">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0">
                    <div style="background-image: url(http://images.ctfassets.net/4omerct2czpp/6VvwaItoq8eG0W401Oi1Xb/401e71f1e40b7575abc17be4b00677cf/league_bg.png)" class="background">
                        <a href="/LoL">
                            <img class="tournament-image" src="https://images.ctfassets.net/4omerct2czpp/4033dcsLqHaa4z2k6YRmkV/83070b991ccb1dba8a50631d7483e2cb/LEAGUE_LOGO2.png" />
                        </a>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div style="background-image: url(http://images.ctfassets.net/4omerct2czpp/4uyOfEl2yPVT9kaqZUFp8X/ca942618ba1319b1392da6da72d59c7e/R6_bg2.png)" class="background">
                        <a href="/R6">
                            <img class="tournament-image" src="https://images.ctfassets.net/4omerct2czpp/AO5w97ZbdtxsBjaSvcNSm/01d0824bbfd382bac58612bee5656553/R6_logo.png" />
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>