@using System.Net
@using Newtonsoft.Json
@using nuelranks.pustalorc.xyz.JSON_Classes
@{
    ViewData["Title"] = "The Nuel Rainbow 6 Siege Ranks";
}

<div class="text-center">
    <h1 class="display-4">The Nuel Rainbow 6 Siege Ranks</h1>
    <br/>
    <ul class="list-group">
        @{
            using (var web = new WebClient())
            {
                foreach (var team in JsonConvert.DeserializeObject<List<SimpleTeam>>(web.DownloadString("https://api.pustalorc.xyz/NuelTeams/RainbowSix")))
                {
                    <li class="list-group-item">
                        Team: <a href="https://thenuel.com/team/@team.Id?gameContext=5734">@team.Name</a> - Average MMR: @team.AverageMMR - <a href="/@team.Id">More Details</a>
                    </li>
                }
            }
        }
    </ul>
    <br/>
</div>